<div class="container">
  <div class="card z-depth-5">
    <div class="card-content">
      <div class="row">
        <div class="col s12 m4 waves-effect waves-block waves-light">
          
            <% if @board.board_photo.nil? %>
              <img src="http://placehold.it/285x250">
            <% else %>
              <%= image_tag @board.board_photo.path, :style => "height:250px;width:100%" %>
            <%end%>  
          
        </div>
         <div class="col s12 m8">
            <div class="col s12 m12">
              Name : <%= @board.name %>
            </div>
            <div class="col s12 m12">
              Title : <%= @board.title %>
            </div>
            <div class="col s12 m12">
              Profile : <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
            <div class="col s12 m12">
              Site : <i class="fa fa-globe" aria-hidden="true"></i>  
            </div>
         </div>
      </div>
      
      <h5>Description</h5>
      <p><%= @board.description %></p>                             
    </div>
  </div>  
</div>
