

	<div class="container">
		<div class="row">
			<div class="col s12 m12">

				<br>

				<h4>Our Examiners</h4>

				<br>
				<br>

				<p>Examiners are all certified on each examinations category and recognize on the industrial levels</p>
				<p>Together with multi industrial collaborations join forces to provide the public with information about MYCerts and the assessments available through MYCerts in Malaysia.</p>

				<br>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col s12 m12">
				<h4>Certifications Examiners</h4>
			</div>
		</div>
		<div class="row">
			<% @examiners.each do |examiner| %>
				<div class="col s12 m3">
					<div class="card">
			            <div class="card-image">
			              <img src="http://placehold.it/285x250">
			              <span class="card-title" style="font-size: 15px;text-shadow: 1px 1px black"><%= examiner.name %></span>
			            </div>
			            <div class="card-content">
			              <p><%= examiner.title %></p>
			            </div>
			        </div>
				</div>
			<% end %>
		</div>

				<br>
				<br>
				<br>
				<br>
	</div>



<!-- begin script for index -->
<script>
	
</script>
<!-- end script for index -->